<footer>
  <div class="question d-flex justify-content-center" id="questions">
    <div class="content3 d-flex flex-column">
      <h2 class="mb-5 mt-3" tabindex="0">Dúvidas ? Fale com a gente.</h2>
      <form #form="ngForm" class="d-flex flex-column">
        <input class="camp mb-1" type="email" name="email" placeholder="Endereço de email" #email="ngModel"
         [ngModel]="email.value" pattern="[A-Za-z0-9._%+-]+@+[A-Za-z0-9._%+-]+.com"  required >
        <span class="" *ngIf="email.invalid && email.touched">*Email Válido obrigatório !</span>
        <input class="camp mb-1" type="text" name="name" #name="ngModel"
        [ngModel]="name.value" placeholder="Nome Completo" minlength="3" required  >
        <span class="" *ngIf="name.invalid && name.touched">*Campo Obrigatorio !</span>
        <textarea required name="coment" minlength="5"  class="camp" placeholder="Escreva um comentario"
         cols="30" rows="10" #coment="ngModel" [ngModel]="coment.value" ></textarea>
         <span class="" *ngIf="coment.invalid && coment.touched">*Campo Obrigatorio !</span>
         <button [disabled]="form.invalid" class="btn btn-primary mt-3 mb-2" (click)="open(content)" >Enviar</button>
         <span tabindex="0">*Entraremos em contato através de seu endereço de e-mail</span>
      </form>
    </div>
  </div>
  <div class="download d-flex justify-content-center" id="download">
    <div class="content4 d-flex flex-column ">
      <div class="title">
        <h2 class="mt-5 mb-3" tabindex="0">Download</h2>
      </div>
      <div class="text2 ">
        <h3 class="mb-5" tabindex="0">Guia de recomendações para implementação da acessibilidade
          digital de forma padronizada
        </h3>
      </div>
      <div class="link row d-flex justify-content-between align-items-center ">
        <div class="col p-0 m-0">
          <h3 tabindex="0">Clique para baixar o conteúdo completo</h3>
          <button class="btn btn-primary">
            <a href="assets/pdf/guia.pdf" target="_blank" rel="noopener noreferrer" >
              Download link direto
            </a>
            <img src="assets/img/donwnload.png" width="30px" alt="Icone de download">
          </button>
        </div>
        <div class="home col-4 d-flex flex-column align-items-center p-0">
          <img src="assets/img/home.png" alt="icon de voltar ao início">
          <a href="#topo" class="mt-3">Voltar para o início</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Enviado com sucesso !</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
        Entraremos em contato em breve !
			</div>
		</form>
	</div>
</ng-template>
