<i class="fa fa-anchor" aria-hidden="true" id="topo"></i>
<header class="menu align-items-center justify-content-center w-100 top-0 position-relative"  >
  <img src="assets/img/LOGO.png" class="position-absolute logo">
  <nav class="d-inline-flex align-items-end w-50 mt-2" >
    <ul class="d-inline-flex flex-row-wrap justify-content-evenly m-0 mb-2 ">
      <li><a href="#products">Produtos</a></li>
      <li><a href="#about">Quem Somos ?</a></li>
      <li><a href="#questions">Contato</a></li>
      <li><a href="#download">Download</a></li>
    </ul>
  </nav>
</header>
<header class="drop align-items-center justify-content-around w-100 top-0 position-fixed">
  <img class="logo" src="assets/img/LOGO.png" width="16%">
  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
      Menu
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem><a href="#products">Produtos</a></button>
      <button ngbDropdownItem><a href="#about">Quem Somos ?</a></button>
      <button ngbDropdownItem><a href="#questions">Contato</a></button>
      <button ngbDropdownItem><a href="#download">Download</a></button>
    </div>
  </div>
</header>

