<body class="d-flex flex-column align-items-center  w-100">
  <img src="assets/img/image-banner.png" class="position-absolute banner" id="banner">
  <main class="d-inline-flex flex-column mb-5">

    <div class="content1 d-inline-flex flex-column align-items-center mb-5" id="content1">
      <h1 class="title1" tabindex="0">Uma Web acessível para todos</h1>
      <h3 class="mt-5"  tabindex="0">Guia de recomendações para implementação da acessibilidade digital de forma padronizada</h3>
      <button class="btn btn-primary d-inline-flex align-items-center justify-content-between" aria-label="Saiba mais">Saiba mais
        <img src="assets/img/seta-direita.png" alt="">
      </button>
    </div>

    <div class="mt-5">
      <div class="icons row">
        <div class="d-flex flex-column align-items-center col icon" tabindex="0">
          <img src="assets/img/icon-01.png" alt="icone Acessível a todos">
          <p class="teste lh-1 w-50 text-center mt-4">Acessível <br> a todos</p>
        </div>
        <div class="d-flex flex-column align-items-center col icon" tabindex="0">
          <img src="assets/img/icon-02.png" alt="Metodologias comprovadas">
          <p class="lh-1 text-center mt-4">Metodologias comprovadas</p>
        </div>
        <div class="d-flex flex-column align-items-center col icon" tabindex="0">
          <img src="assets/img/icon-03.png" alt="Conteúdo simplificado">
          <p class="lh-1 text-center mt-4">Conteúdo simplificado</p>
        </div>
        <div class="d-flex flex-column align-items-center col icon"  tabindex="0">
          <img src="assets/img/icon-04.png" alt="Resultado Garantido">
          <p class="lh-1 text-center mt-4">Resultado Garantido</p>
        </div>
      </div>
    </div>

  </main>

  <section class="d-flex flex-column w-100 mb-5">
    <div class="content2 d-inline-flex flex-column align-items-center w-100 mb-2" id="products">
      <div class="wid d-inline-flex flex-column align-items-center mb-2">
        <div class="title2 mt-5 text-center">
          <h1 tabindex="0">Oque é ? Como garantir acessibilidade digital em seus projetos? Quem se beneficia ?</h1>
        </div>
        <div class="row justify-content-center align-items-center w-100 mb-5">
          <div class=" linha d-flex justify-content-center align-items-center">
            <img class="book" src="assets/img/livro.png" alt="">
            <div class="text1">
              <h3 class="mb-4" tabindex="0">Acessibilidade Digital é a eliminação de barreiras Web. O conceito pressupõe que os sites
                e portais sejam projetados de modo que todas as pessoas possam perceber, entender, navegar e interagir
                de maneira efetiva com as páginas.
              </h3>
              <h3 class="" tabindex="0">Tenha acesso ao material completo para conduzir seu processo de desenvolvimento de software. Com o uso de ferramentas facilitadoras vamos lhe mostrar pontos em determinadas aplicações que podem auxiliar o público portador de deficiência.
              </h3>
            </div>
          </div>

        </div>
        <button class="btn btn-primary d-inline-flex align-items-center justify-content-between" aria-label="Baixar Conteúdo">
          <a href="assets/pdf/guia.pdf" target="_blank" rel="noopener noreferrer" >
            Baixar conteúdo
          </a>
          <img src="assets/img/seta-direita.png">
        </button>
      </div>
    </div>
    <div class="about w-100 d-flex flex-column align-items-center " id="about">
      <div class="about-content row d-flex">
        <div class="col about-text">
          <h2 class="mb-5 title3" tabindex="0">Quem Somos ?</h2>
          <h3 class="mt-5" tabindex="0">
            Thadeu Ivson Albuquerque Oliveira, 28 anos.
            Mestrado do Programa de Pós-Graduação em
            Computação Aplicada (PPCA) na Universidade
           Federal do Pará (UFPA).
          </h3>
          <h3 class="mt-5" tabindex="0">
            Sempre em busca de seu desenvolvimento pessoal
            e profissional, procura áreas de conhecimento
            que agregam valores siginificativoss à sua carreira.
          </h3>
          <h3 class="mt-5" tabindex="0">
            Conectado a todas as redes.
          </h3>
        </div>
        <div class="col thadeu d-flex flex-column align-items-center justify-content-center">
          <img src="assets/img/thadeu.png" width="75%" alt="Foto de Perfil do Thadeu">
          <h3 tabindex="0">Thadeu Ivson A. Oliveira </h3>
          <p tabindex="0" aria-description = 'Celular: '>+55 94 99999-9999</p>
          <div class="row w-75 social">
            <div class="col d-flex justify-content-evenly mb-3">
              <img tabindex="0" src="assets/img/in.png" alt="Icone Linkedin">
              <img tabindex="0" src="assets/img/gmail.png" alt=" Icone Gmail">
              <img tabindex="0" src="assets/img/insta.png" alt="Icone Instagram">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
